In [6]:
import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt

In [5]:
categories = ['Food', 'Travel', 'Fashion', 'Fitness', 'Music', 'Culture', 'Family', 'Health']

# Number of data entries
data_size = 500

# Generate the data dictionary
data = {
    'Date': pd.date_range('2021-01-01', periods=data_size),
    'Category': [random.choice(categories) for _ in range(data_size)],
    'Likes': np.random.randint(0, 10000, size=data_size)
}

df = pd.DataFrame(data)

df.head(10)

        Date Category  Likes
0 2021-01-01  Fashion   9367
1 2021-01-02     Food   1207
2 2021-01-03     Food   1995
3 2021-01-04  Culture   1623
4 2021-01-05    Music   4679
5 2021-01-06  Culture   4860
6 2021-01-07   Health    562
7 2021-01-08    Music   3072
8 2021-01-09   Family   8658
9 2021-01-10   Health   2411

### Print the count of each category

In [14]:
df["Category"].value_counts()

Fashion    69
Health     65
Fitness    65
Culture    64
Music      64
Travel     59
Family     58
Food       56
Name: Category, dtype: int64

### Identify duplicated data

In [17]:
duplicates = df[df.duplicated()]
len(duplicates)

0

In [22]:
df["Month"] = df["Date"].dt.month
df["Day_week"] = df["Date"].dt.day_name()
df["Year"] = df["Date"].dt.year

In [23]:
df

          Date Category  Likes  Month   Day_week  Year
0   2021-01-01  Fashion   9367      1     Friday  2021
1   2021-01-02     Food   1207      1   Saturday  2021
2   2021-01-03     Food   1995      1     Sunday  2021
3   2021-01-04  Culture   1623      1     Monday  2021
4   2021-01-05    Music   4679      1    Tuesday  2021
..         ...      ...    ...    ...        ...   ...
495 2022-05-11   Travel   4440      5  Wednesday  2022
496 2022-05-12    Music    147      5   Thursday  2022
497 2022-05-13  Fitness   2423      5     Friday  2022
498 2022-05-14  Culture   9293      5   Saturday  2022
499 2022-05-15     Food   8156      5     Sunday  2022

[500 rows x 6 columns]

In [26]:
df.dtypes

Date        datetime64[ns]
Category            object
Likes                int64
Month                int64
Day_week            object
Year                 int64
dtype: object

# Visualisations

In [ ]:
plt.figure(figz)