In [1]:
import numpy as np
import pandas as pd
import random

In [5]:
categories = ['Food', 'Travel', 'Fashion', 'Fitness', 'Music', 'Culture', 'Family', 'Health']

# Number of data entries
data_size = 500

# Generate the data dictionary
data = {
    'Date': pd.date_range('2021-01-01', periods=data_size),
    'Category': [random.choice(categories) for _ in range(data_size)],
    'Likes': np.random.randint(0, 10000, size=data_size)
}

df = pd.DataFrame(data)

df.head(10)

        Date Category  Likes
0 2021-01-01  Fashion   9367
1 2021-01-02     Food   1207
2 2021-01-03     Food   1995
3 2021-01-04  Culture   1623
4 2021-01-05    Music   4679
5 2021-01-06  Culture   4860
6 2021-01-07   Health    562
7 2021-01-08    Music   3072
8 2021-01-09   Family   8658
9 2021-01-10   Health   2411